.profile {
  border: 1px solid black;
  z-index: 1000;
  position: absolute;
  width: auto;
  height: auto;
  top: 75px;
  right: 15px;
  border-radius: 5px;
  background-color: white;
  color: rgb(31, 30, 30);
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
  cursor: context-menu;
}
.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.line {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 0.1px;
  background-color: black;
  left: 0;
  border: none;
}
.base {
  padding: 10px;
  text-align: left;
  display: grid;
  grid-gap: 15px;
}
.links {
  font-weight: 530;
  cursor: pointer;
  color: gray;
}
.links:hover {
  color: black;
  font-weight: 550;
}
